<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.bank.dao.interfaces.TransactionRepository">

    <insert id="create" parameterType="com.laba.solvd.bank.model.Transaction">
        INSERT INTO Transactions (transaction_type, amount, transaction_date)
        VALUES (#{transactionType}, #{amount}, #{transactionDate})
    </insert>

    <select id="findAll" resultMap="transactionResultMap">
        SELECT id, transaction_type, amount, transaction_date
        FROM transactions
    </select>

    <update id="update" parameterType="com.laba.solvd.bank.model.Transaction">
        UPDATE transactions
        SET amount = #{amount}
        WHERE id = #{id}
    </update>

    <resultMap id="transactionResultMap" type="com.laba.solvd.bank.model.Transaction">
        <id property="id" column="id"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="amount" column="amount"/>
        <result property="transactionDate" column="transaction_date"/>
    </resultMap>

</mapper>
